.choice {
  position: relative;
  display: flex;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.choice__label {
  cursor: pointer;
  user-select: none;

  &::before {
    @include pseudo;
    top: -7px;
    left: -30px;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: -43px;
      width: 40px;
      height: 40px;
    }
  }

  &--check {
    &::before {
      top: -5px;
      border-radius: 0;
    }
  }
}

.choice__input:checked + .choice__label {
  &::after {
    @include pseudo;
    top: 1px;
    left: -21px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 4px;
      left: -32px;
      width: 18px;
      height: 18px;
    }
  }

  &--check {
    &::after {
      top: 3px;
      left: -24px;
      width: 18px;
      height: 14px;
      background-color: transparent;
      background-image: url("../img/icon/check.svg");

      @media (min-width: $tablet-width) {
        top: 8px;
        left: -32px;
      }
    }
  }
}

.choice__input:hover + .choice__label,
.choice__input:focus + .choice__label {
  &::before {
    border: 1px solid $special-dark-grey-2;
  }
}

.choice__input:disabled + .choice__label,
.choice__input:checked:disabled + .choice__label {
  cursor: default;
  opacity: 0.3;

  &::before {
    border: 1px solid $special-grey;
  }
}
