.header-logo {
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-logo__img {
  margin-right: 55px;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 175px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}

.header-logo__name {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
