.input {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: $basic-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  span {
    flex-shrink: 0;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin-right: 18px;
    }
  }

  input {
    width: 100%;
    padding: 12px 40px 13px 14px;
    font: inherit;
    text-transform: uppercase;
    border: 1px solid $special-light-grey-1;

    &:hover {
      border-color: $special-grey;
    }

    &:focus {
      outline: none;
      border-color: $basic-dark-grey;
      box-shadow: 0 0 0 2px $basic-dark-grey;
    }

    @media (min-width: $tablet-width) {
      padding: 11px 40px 12px 16px;
    }
  }

  input::-webkit-input-placeholder,
  input::-moz-placeholder,
  input:-moz-placeholder,
  input:-ms-input-placeholder,
  input::-ms-input-placeholder,
  input::placeholder,
  input:placeholder-shown {
    color: $basic-dark-grey;
  }

  textarea {
    padding: 10px 13px;
    font: inherit;
    text-transform: uppercase;
    width: 100%;
    min-height: 150px;
    resize: none;
    border-color: $special-light-grey-1;

    &:hover {
      border-color: $special-grey;
    }

    &:focus {
      outline: none;
      border-color: $basic-dark-grey;
      box-shadow: 0 0 0 2px $basic-dark-grey;
    }

    @media (min-width: $tablet-width) {
      padding: 10px 17px;
      min-height: 177px;
    }
  }

  &--weight,
  &--age {
    @media (min-width: $tablet-width) {
      input {
        padding-left: 20px;
      }
    }
  }

  &--email,
  &--tel {
    position: relative;

    span {
      margin-right: 10px;

      @media (min-width: $tablet-width) {
        margin-right: 16px;
      }
    }

    .input__svg {
      position: absolute;
      top: 14px;
      right: 14px;

      @media (min-width: $tablet-width) {
        top: 18px;
        right: 18px;

        &--email {
          top: 20px;
        }
      }
    }
  }

  &--email {
    .input__svg {
      stroke: $special-dark-grey;
    }

    input:focus + .input__svg {
      stroke: $basic-green;
    }

    @media (min-width: $tablet-width) {
      input {
        padding: 11px 40px 12px 23px;
      }
    }
  }

  &--tel {
    .input__svg {
      fill: $special-dark-grey;
    }

    input:focus + .input__svg {
      fill: $basic-green;
    }
  }

  input:invalid:not(:placeholder-shown) {
    border-color: $intense-pink;
    box-shadow: 0 0 0 2px $intense-pink;
  }

  input:invalid:not(:placeholder-shown) + .input__svg--email {
    stroke: $intense-pink;
  }

  input:invalid:not(:placeholder-shown) + .input__svg--tel {
    fill: $intense-pink;
  }
}
