.program-card {
  position: relative;
  padding: 30px 20px 21px 20px;
  background-color: $basic-grey;

  &::before {
    @include pseudo;
    top: 21px;
    left: 22px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 72%;
  }

  &--slim {
    &::before {
      background-image: url("../img/icon/programs-slim.svg");
    }
  }

  &--pro {
    &::before {
      top: 23px;
      left: 13px;
      background-image: url("../img/icon/programs-pro.svg");
      background-size: 97%;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 76px 20px 57px 52px;

    &::before {
      top: 82px;
      left: auto;
      right: -8px;
      width: 270px;
      height: 220px;
      background-size: 74%;
    }

    &--pro {
      &::before {
        top: 93px;
        right: 27px;
        background-size: 100%;
      }

      .program-card__description {
        max-width: 340px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 76px 40px 60px 52px;

    &::before {
      top: 41px;
      left: 52px;
      right: auto;
      width: 135px;
      height: 100px;
      background-size: 74%;
    }

    &--pro {
      &::before {
        top: 45px;
        left: 33px;
        background-size: 100%;
      }
    }

    .program-card__description {
      max-width: max-content;
    }
  }
}
.program-card__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.program-card__description {
  margin-bottom: 17px;
  padding-bottom: 24px;
  font-family: $font-Arial;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
  border-bottom: 1px solid $light-grey-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    max-width: 380px;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
    max-width: max-content;
  }
}

.program-card__link {
  position: relative;
  display: inline-block;
  padding-right: 48px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  &::after {
    @include pseudo;
    top: 50%;
    right: 0;
    width: 32px;
    height: 12px;
    transform: translateY(-50%);
    background-image: url("../img/icon/arrow.svg");
    background-repeat: no-repeat;
    background-position: -8px center;
    transition: background-position 0.3s;
  }

  &:hover::after {
    background-position: 0 center;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 57px;
  }
}
