.promo {
  margin-bottom: 22px;
  padding-top: 29px;
  color: $basic-white;
  font-weight: 400;
  text-align: center;
  background-color: $basic-white;
  background-image: url("../img/promo-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 302px;

  @media (min-width: $tablet-width) {
    margin-bottom: 629px;
    padding-top: 52px;
    color: $basic-black;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 696px;
    margin-bottom: 82px;
    padding-top: 103px;
    background-image: url("../img/promo-bg-desctop.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
  }
}

.promo__inner {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
  }
}

.promo__title {
  display: block;
  margin: 0;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 122px;
    margin-bottom: 39px;
  }
}

.promo__slogan {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 29px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    top: -83px;
    left: 558px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    padding: 18px 28px;
    width: auto;
    // По другому не знаю как кнопку к левому краю прижать
    float: left;
    font-size: 20px;
    line-height: 20px;
  }
}
