.social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 134px;
}

.social__link {
  svg {
    fill: $dull-gray;
  }

  &--fb svg {
    fill: none;
    stroke: $dull-gray;
  }

  &:hover svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }

  &--fb {
    position: relative;
    top: -3px;
    left: -4px;

    &:hover svg {
      fill: none;
      stroke: $basic-green;
    }
  }
}
