@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  margin: 0 auto;
  padding: 0 20px;
  width: auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

@mixin pseudo {
  position: absolute;
  content: "";
}
