// Widths

$tablet-width: 768px;
$desktop-width: 1440px;

// Fonts

$font-Arial: "Arial", sans-serif;
$font-Oswald: "Oswald", "Arial", sans-serif;

// Colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$special-green: #5eaa2f;
$special-grey: #cdcdcd;
$basic-grey: #f2f2f2;
$light-grey: #dcdcdc;
$light-grey-2: #d9d9d9;
$special-light-grey: #ebebeb;
$special-light-grey-1: #e7e7e7;
$special-light-grey-2: #e6e6e6;
$basic-dark-grey:#444444;
$dark-grey: #111111;
$special-dark-grey:#222222;
$intense-pink: #ff8282;
$smoky-white: #eaeaea;
$dull-gray: #666666;
