// Widths

$tablet-width: 768px;
$desktop-width: 1440px;

// Colors
$basic-black: rgb(0, 0, 0);
$basic-white: rgb(255, 255, 255);
$basic-green: rgb(104, 183, 56);
$special-green: rgb(94, 170, 47);
$basic-grey: rgb(242, 242, 242);
$special-light-grey: rgb(235, 235, 235);
$special-grey: rgb(205, 205, 205);
$light-grey: rgb(220, 220, 220);
$dark-grey: rgb(17, 17, 17);
$basic-dark-grey: rgb(68, 68, 68);
$special-light-grey-2: rgb(230, 230, 230);
$intense-pink: rgb(255, 130, 130);
$light-grey-2: rgb(217, 217, 217);
$smoky-white: rgb(234, 234, 234);
